* {
    box-sizing: border-box;
    font-family: Tahoma, Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #0f0f12;
    color: white;
}

.topbar {
    text-align: center;
    padding: 25px;
    background: #15151b;
    border-bottom: 1px solid #333;
}

.topbar h1 {
    margin: 0;
    font-size: 32px;
}

.topbar p {
    color: #aaa;
    margin-top: 10px;
}


main {
    display: flex;
    justify-content: center;
    padding: 30px;
}


.upload-box {
    width: 95%;
    max-width: 900px;
    background: #191920;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}


input[type="file"] {
    width: 100%;
    padding: 15px;
    background: #252530;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 20px;
}


video {
    width: 100%;
    max-height: 450px;
    background: black;
    border-radius: 15px;
    display: block;
}


.info {
    margin-top: 20px;
    background: #22222b;
    padding: 15px;
    border-radius: 12px;
}


.info p {
    margin: 8px 0;
    color: #ddd;
}


span {
    color: #00d9ff;
}
